@inherits UmbracoViewPage<Zara.Models.CheckOutModel>

@Html.AntiForgeryToken()
<div class="wrap-send">
    <div class="contact-w">
        <div class="contact-input">
            @Html.TextBoxFor(model => model.Name, new { @class = "contact-textbox", placeholder = "Họ & Tên" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </div>
    <div class="contact-w">
        <div class="contact-input">
            @Html.TextBoxFor(model => model.Email, new { @class = "contact-textbox", placeholder = "Email" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>
    <div class="contact-w">
        <div class="contact-input">
            @Html.TextBoxFor(model => model.Phone, new { @class = "contact-textbox", placeholder = "Số điện thoại" })
            @Html.ValidationMessageFor(x => x.Phone)
        </div>
    </div>
    <div class="contact-w">
        <div class="contact-input">
            @Html.TextAreaFor(model => model.Message, new { @class = "contact-area", placeholder = "Nội dung" })
            @Html.ValidationMessageFor(x => x.Message)
        </div>
    </div>
    <div class="contact-w">
        <div class="contact-btn" style="text-align: right;">
            <input type="submit" class="button-btn" name="" value="Thanh toán" />
        </div>
    </div>
</div>
@Html.HiddenFor(x => x.CouponCode)
@Html.HiddenFor(x => x.CouponPercent)
@Html.HiddenFor(x => x.TotalPrice)
@for (int i = 0; i < Model.Carts.Count; i++)
{
    @Html.HiddenFor(model => Model.Carts[i].ProductId)
    @Html.HiddenFor(model => Model.Carts[i].Quantity)
    @Html.HiddenFor(model => Model.Carts[i].Size)
}
@Html.HiddenFor(x => x.CultureLcid)
<div class="loading_div"></div>